*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    width: 100%;
  }

:root{
    /* colores */
    --color-header: #222425;
    --color-gris-oscuro: #242424;
    --color-gris-claro: #979797;
    --color-gris-oscuro-transparente: rgb(155, 155, 155);
    --color-gris-oscuro-transparente-sidebar: rgb(214, 214, 214);
    --color-blanco: #ffffff;
    --color-blanco-transparente: #ffffff77;
    --color-rojoClaro: #a13535;
    --color-azulino: #224FB1;
    --color-azul-transparente: #1d52c5a2;
    --color-azul-sidebar: #2e4f96d5;
    --color-azul: #235fe0;
    --color-blanco-oscuro: #dadada;
    /* fuentes */
    --fuente-open-sans: "Open Sans", sans-serif;
}

/* deselencionando las imagenes */
img::selection{
    display: none;
}

/* estilos del body */
.container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    width: 100%;
}

/* estilo cabezera */

.header{
    display: flex;
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: var(--color-header);
    box-shadow: 0 0 4px var(--color-gris-claro);
    transition: .3s ease-out;
    z-index: 1000;
}

.header.activo{
    width: calc(100% - 250px);
    transform: translateX(250px);
    transition: .3s ease-out;
}

@media (max-width: 800px){
    .header{
        width: 100%;
    }
    .header.activo{
        width: 100%;
        transform: translateX(0);
    }
}

/* estilos del menu */

.header .menu-line{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.header .line-span-one{
    display: block;
    width: 30px;
    height: 4px;
    background: var(--color-blanco);
}

.header .line-span-two{
    display: block;
    width: 30px;
    height: 4px;
    background: var(--color-blanco);
    margin: 5px 0;
}

.header .line-span-three{
    display: block;
    width: 30px;
    height: 4px;
    background: var(--color-blanco);
}

/*  */

.header label{
    font-family: var(--fuente-open-sans);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-blanco);
}

.header label{
    font-size: 20px;
}


/*  */

.header img{
    width: 6px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7489%) hue-rotate(183deg) brightness(106%) contrast(104%);
}

/* estilo de ajustes */

.header .settings{
    position: absolute;
    right: 20px;
}

/*  */

/* estilo del contenido de los ajustes */
.settings-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 80px;
    background: var(--color-blanco-oscuro);
    box-shadow: 0 0 4px #929292;
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 65px;
    animation: settings-animate-close .1s 1 ease-out;
}

@keyframes settings-animate-close {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        transform: scale(.2);
    }
}


.settings-container.activo{
    display: flex;
    animation: settings-animate .1s 1 ease-out;
}

@keyframes settings-animate {
    0%{
        transform: scale(.2);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}

.settings-container a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    margin: 5px 0;
    box-shadow: 0 0 4px #929292;
    background: var(--color-blanco-transparente);
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--fuente-open-sans);
    font-size: 15px;
    color: var(--color-gris-oscuro);
    transition: .5s ease-out;
}

.settings-container a:hover{
    background: var(--color-azul);
    color: var(--color-blanco);
    transition: .5s ease-out;
}

.body-container{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}

.body-container.activo{
    width: calc(100% - 250px);
    transform: translateX(250px);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s ease-out;
}

@media (max-width: 800px){
    .body-container{
        width: 100%;
    }
    .body-container.activo{
        width: 100%;
        transform: translateX(0);
    }
}

/* estilos del body container */

.body-container label{
    text-align: center;
    font-size: 20px;
    color: var(--color-gris-oscuro);
    font-family: var(--fuente-open-sans);
    font-weight: 500;
}

.body-container label span{
    color: var(--color-rojoClaro);
}

@media (min-width: 500px){
    .body-container label{
        text-align: center;
        font-size: 30px;
        color: var(--color-gris-oscuro);
        font-family: var(--fuente-open-sans);
        font-weight: 500;
    }
    
    .body-container label span{
        color: var(--color-rojoClaro);
    }
}

@media (min-width: 600px){
    .body-container label{
        text-align: center;
        font-size: 40px;
        color: var(--color-gris-oscuro);
        font-family: var(--fuente-open-sans);
        font-weight: 500;
    }
    
    .body-container label span{
        color: var(--color-rojoClaro);
    }
}

.sidebar{
    width: 250px;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--color-blanco);
    height: 100vh;
    transform: translateX(-255px);
    border: 1px solid var(--color-gris-claro);
    box-shadow: 0 0 4px #8d8c8c;
    transition: .3s ease-out;
    overflow-y: hidden;
    z-index: 2000;
}

.sidebar.activo{
    transform: translateX(0);
    transition: .3s ease-out;
}

/* estilo del logo */
.sidebar .sidebar-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 40px;
}

.sidebar .sidebar-header .logo{
    width: 50px;
    margin: 5px 10px 5px 10px;
}

/* titulo */
.sidebar .sidebar-header .title{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sidebar .sidebar-header .title .university-name{
    font-family: var(--fuente-open-sans);
    color: var(--color-gris-oscuro);
    font-size: 18px;
    font-weight: 700;
}

.sidebar .sidebar-header .title .teacher{
    font-family: var(--fuente-open-sans);
    color: var(--color-gris-oscuro);
    font-size: 15px;
    font-weight: 400;
}

/* estilos de las filas  */

.list-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 800px;
}

.list-nav .title-general{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-family: var(--fuente-open-sans);
    color: var(--color-gris-oscuro);
    font-weight: 600;
    background: var(--color-blanco-transparente);
    width: 230px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0 0 4px var(--color-gris-oscuro-transparente);
    cursor: pointer;
    transition: .3s ease-out;
}

.list-nav .title-general.activo{
    background: var(--color-gris-oscuro-transparente-sidebar);
    transition: .3s ease-out;
    border-radius: 8px 8px 0 0;
}

.list-nav .title-general:hover{
    background: var(--color-gris-oscuro-transparente-sidebar);
    transition: .3s ease-out;
}
/*  */

.list-nav .general img{
    width: 25px;
    margin: 0 10px;
}

.list-nav .general:hover img{
    filter: brightness(0) saturate(100%) invert(13%) sepia(2%) saturate(0%) hue-rotate(183deg) brightness(92%) contrast(95%);
}

/*  */

.list-nav .general label{
    box-shadow: 0 0 0 var(--color-blanco);
}

.list-nav .general:hover label{
    box-shadow: 0 0 0 var(--color-blanco);
    color: var(--color-gris-oscuro  );
}

.list-nav .general .angle{
    width: 20px;
    margin: 0 10px;
    position: absolute;
    transition: .3s ease-out;
    right: 10px;
}

.list-nav .general .angle.activo{
    width: 20px;
    margin: 0 10px;
    position: absolute;
    transform: rotate(180deg);
    transition: .3s ease-out;
    right: 10px;
}

/*  */

.list-nav .container-general{
    display: none;
}

.list-nav .container-general.activo{
    display: flex;
    flex-direction: column;
    width: 230px;
    background: var(--color-blanco-oscuro);
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}



.list-nav .container-general .list-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background: var(--color-blanco-transparente);
    box-shadow: 0 0 4px var(--color-gris-claro);
    font-size: 16px;
    font-family: var(--fuente-open-sans);
    font-weight: 600;
    color: var(--color-gris-oscuro);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.list-nav .container-general .list-content:hover{
    background: var(--color-azulino);
    color: var(--color-blanco);
    transition: .3s ease-in-out;
}